<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Wallpy</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>Bienvenido a Wallpy 🎉</h2>
  <p>Aquí podrás gestionar tus wallpapers privados.</p>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Mis Wallpapers</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let wallpaper of wallpapers">
          <ion-thumbnail slot="start">
            <img [src]="wallpaper.url" alt="wallpaper">
          </ion-thumbnail>
          <ion-label>
            <h3>{{ wallpaper.name }}</h3>
            <p>{{ wallpaper.date | date }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" (click)="addWallpaper()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
